.two-column {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
    // border: 1px solid;

    &__left {
        width: 20%;
    }

    &__right {
        // flex: 2;
        width: calc(100% - 220px);
    }
}