.two-column {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    // column-gap: 20px;

    &__left {
        width: 25%;
        // border: 1px solid blue;
    }

    &__right {
        // flex: 2;
        width: calc(100% - 25%);
    }

    @media (max-width: 669px) {
        flex-direction: column;

        &__left,
        &__right {
            width: 100%;
        }
    }
}