.typewriter {
	white-space: pre-line;
	text-align: center;
	height: 150px;
	width: 470px;
	background-color: rgba(255, 255, 255, 0.4);
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 4px;

	h1 {
		color: #352a34;
		font-size: 42px;
	}

	&__cursor {
		display: inline-block;
		margin-left: 2px;
		width: 2px;
		animation: blink 1s steps(2, start) infinite;
		color: #fff;
	}
}

@keyframes blink {
	0%, 50% {
	  opacity: 1;
	}
	51%, 100% {
	  opacity: 0;
	}
  }