.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img {
            width: 40px;
            filter: saturate(0);
        }

        span {
            color: #666;
            font-size: 12px;
            font-style: italic;
        }
    }
}