.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    &__logo {
        width: 40px;
        filter: saturate(0);
    }
}