nav {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        // padding: 10px 0;
        margin: 0;
        padding: 10px 100px 10px 100px;

        li {
            font-size: 18px;

            a {
                text-decoration: none;
                color: #666;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}