nav {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 50px;

    @media (max-width: 669px) {
        // height: 80px;
        display: none;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 40px;
        padding-right: 30px;

        li {
            font-size: 18px;
            // border-right: 1px solid #ccc;

            a {
                text-decoration: none;
                color: #666;

                &:hover {
                    text-decoration: underline;
                }
            }

            @media (max-width: 669px) {
                font-size: 16px;
            }
        }
    }
}