.typewriter {
	white-space: pre-line;
	border-radius: 4px;
	animation: flicker 0.15s infinite;

	h1 {
		// color: #c7b26a;
		color: #fff;
		font-size: 50px;
		margin-bottom: 10px;
		font-weight: lighter;

		    @media (max-width: 669px) {
				font-size: 40px;
			}
	}

	&__cursor {
		display: inline-block;
		margin-left: 2px;
		width: 2px;
		animation: blink 1s steps(2, start) infinite;
	}

	h2 {
		color:  #ccc;
		font-size: 35px;
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: lighter;
		margin-bottom: 10px;

		&.line {
			overflow: hidden;
			white-space: nowrap;

			&.l2 {
				width: 0ch;
				animation: type 3s steps(1) forwards;
				animation-delay: 1s;
			}
		}

		@media (max-width: 669px) {
			font-size: 30px;
		}
	}

	h3 {
		color: #ccc;
		font-size: 35px;
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: lighter;
		margin-bottom: 10px;

		&.line {
			overflow: hidden;
			white-space: nowrap;


			&.l3 {
				width: 0ch;
				animation: type 3s steps(1) forwards;
				animation-delay: 2s;
			}
		}

		@media (max-width: 669px) {
			font-size: 30px;
		}
	}
}

@keyframes blink {
	0%, 50% {
	  	opacity: 1;
	}
	51%, 100% {
	  	opacity: 0;
	}
}


@keyframes flicker {
	// 0%, 100% { opacity: 1; }
	// 50% { opacity: 0.92; }
	0%, 100% { opacity: 1; }
	50% { opacity: 0.92; }
	0%   { opacity: 1; }
	10%  { opacity: 0.85; }
	20%  { opacity: 0.9; }
	30%  { opacity: 0.7; }
	40%  { opacity: 0.95; }
	50%  { opacity: 0.8; }
	60%  { opacity: 0.9; }
	70%  { opacity: 0.75; }
	80%  { opacity: 0.85; }
	90%  { opacity: 0.9; }
	100% { opacity: 1; }
}


@keyframes type {
  	to {
    	width: 100%;
  	}
}
