.typewriter {
	white-space: pre-line;
	border-radius: 4px;

	h1 {
		color: #fff;
		font-size: 50px;
		margin-bottom: 10px;
		font-weight: lighter;
	}

	&__cursor {
		display: inline-block;
		margin-left: 2px;
		width: 2px;
		animation: blink 1s steps(2, start) infinite;
	}

	h2 {
		color: #666;
		font-size: 35px;
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: lighter;
	}

	h3 {
		color: #ccc;
		font-size: 35px;
		margin-top: 0px;
		margin-bottom: 0px;
		font-weight: lighter;
	}
}

@keyframes blink {
	0%, 50% {
	  opacity: 1;
	}
	51%, 100% {
	  opacity: 0;
	}
  }