@import "tailwindcss";

body {
    background-color: white;
    margin: 20px;
}

h1 {
  	font-size: 50px;
}

.content {
    position: relative;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

p {
	margin-top: 10px;
	font-size: 16px;
	color: #999;
}