@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Share+Tech+Mono");

$purple: rgb(232 121 249);
$blue: rgb(96 165 250);
$green: rgb(94 234 212);
$animationtime: 45s;
$length: 25;

body {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

header {
    background-color: rgb(15, 17, 19);
    padding: 20px 100px 20px 100px;
    height: 70vh;
}

.header {
    &__content {
        height: 300px;
        padding-top: 20px;
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

h3 {
    font-size: 25px;
}

h4 {
    color: #bc392e;
}

p {
    line-height: 1.4;
    color: #666;
}

section {
    padding: 20px 100px 20px 100px;
}

code {
    font-size: 35px;
    margin: 0 auto;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    // margin: 40px 0;
    margin: 20px 100px 20px 100px;
}